body {
		margin:auto;
		padding:0;
		text-align:center;
		background-color:#fff;
}
img {
		width:300px;
	margin:0px;
	margin-bottom:10px;
	z-index:3;
}
.container {
	background-color:#fff;
	width:300px;
	margin:0 auto;
	margin-top:10%;
}
ul {
	position:relative;
	list-style-type:none;
	width:300px;
	padding:0;
	text-align:center;
	margin:0 auto;
	margin-top:-15px;
	background-color:#fff;;
}
li {
	display:inline-block;
	text-transform:uppercase;
	font-family:sans-serif;
	padding:0 1px;
}
a {
	text-decoration:none;
	color:#000;
	transition: color 0.3s ease;
	padding-bottom:3px;
	position: relative;
    margin: 0 5px; /* NE DIRAJ */
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: #000;
}
a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 1px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #000;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}

a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}
input {
	opacity:0;
}
@media (max-width:599px) {
	#menuToggle {
		display:block;
		position:relative;
		top: 0px;
		z-index: 1;
		-webkit-user-select: none;
		user-select: none;
		background-color:#fff;
		margin:10px auto;
		width:33px;
		
	}
	#menuToggle input {
		display: block;
		width: 40px;
		height: 35px;
		position: absolute;
		top: -7px;
		left: -5px;
		cursor: pointer;
		opacity: 0; /* hide this */
		z-index: 2; /* and place it over the hamburger */
		-webkit-touch-callout: none;
	}
	/* boja i dimenzije burger bara */
	#menuToggle span {
		display:block;
		width:33px;
		height:4px;
		margin-bottom:5px;
		background-color:#000;
		opacity:1;
		border-radius:3px;
		z-index:2;
		transform-origin:4px 0px;
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
	}
	#menuToggle span:first-child {
		transform-origin: 0% 0%;
	}
	#menuToggle span:nth-last-child(2) {
		transform-origin: 0% 100%;
}
	#menuToggle input:checked ~ span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #232323;
	}
	#menuToggle input:checked ~ span:nth-last-child(3){
		opacity: 0;
		transform: rotate(0deg) scale(0.2, 0.2);
	}
	#menuToggle input:checked ~ span:nth-last-child(2){
		transform: rotate(-45deg) translate(0, -1px);
	}
	#menuToggle li{
		display:block;
		padding:0;
	}
	#menuToggle a{
		padding:1px;
		padding-bottom:3px;
		transition:0.3 ease;
		position:relative;
		display:block;
		margin:0 5px;
		transition: color 0.1s, background 0.1, padding 0.2 ease-in;
	}
	a::before {
		content: '';
		display: block;
		position: absolute;
		bottom: 1px;
		left: 100px;
		height: 3px;
		width: 30%;
		background-color: #000;
		transform-origin: right top;
		transform: scale(0, 1);
		transition: color 0.1s,transform 0.2s ease-out;
	}
	a:active::before {
		background-color: #000;
	}
	a:hover::before, a:focus::before {
		transform-origin: left top;
		transform: scale(1, 1);
	}
	a:first-child::before{
		width:18%;
		margin-left:20px;
	}
	a:nth-last-child(2)::before{
		width:20%;
		margin-left:15px;
	}
	a:last-child::before {
		width:27%;
		margin-left:5px;
	}
	
	#menu {
		position:absolute;
		width:300px;
		height:120px;
		margin:0 0 0 -140px;
		padding:0px;
		/* background-color:#fff; */
		/* transform-origin:0% 0%;
		-webkit-transform:translate(100%, 0);
		-moz-transform:translate(100%, 0);
		-ms-transform: translate(100%, 0); */
		transform: translate(105%, 0);
		opacity:0;
		transition:transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
	}
	#menuToggle input:checked ~ ul{
		transform: none;
		opacity:1;
	}
	.container {
		/* overflow:hidden; */
	}
	
	
	
}









